#top-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#top-content div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
#notice-banner {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#notice-banner p {
    color: red;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}
#title {
    color: #47C39A;
    font-size: 22px;
    line-height: 100%;
    margin-left: 5px;
    margin-bottom: 0px;
}
#email {
    color: #2980b9;
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.middle-content {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    padding: 0 100px;
}
#info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-content .s1 {
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}
#info-content .s2 span {
    color: #47C39A;
}
#info-content .s2 {
    color: #333;
    font-size: 14px;
    text-indent: 2em;
    line-height: 24px;
    padding-bottom: 5px;
}