#title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}
#title-section p {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
#content-section {
    padding: 0px 20px;
}
#content-section section {
    margin-bottom: 20px;
}
#content-section section h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #333
}
#content-section section p {
    font-size: 13px;
    line-height: 22px;
    color: #666
}